.userInfo {
  display: flex;
  flex-direction: column;
}
// Textareas
.input{
  width: 100%;
  margin: 5px 5px 0 0;
}
.accordion__item{
  display: flex;
  flex-direction: column;
}
//send
.button{
  display: block;
  margin: 0 auto 10px auto;
}
//div from the filter area
.site__filter{
  margin: 10px 0;
  padding: 5px;
  border: solid 1px #3c3c3c;
  background-color: #3c3c3c;
  box-shadow: 0px 3px 5px black;
  border-radius: 5px;
}
.filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px;
}
.filtericon{
  margin: auto 15px; 
  display: block;
  border: white solid 1px;
  border-radius: 5px;
  padding: 5px;
}
//list for the favourite sites 
.list{
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.list__items{
  padding: 5px 0;
  flex-direction: column;  
  width: 90px;
  text-align: center;
}
.site__img{
  height: 60px;
  width: 60px;
  display: block;
  margin: 0 auto;
}
#btnMore{
  width: 90px;
}